# NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
# https://openapi-generator.tech
# Do not edit the class manually.

defmodule SubspaceProductAPI.Api.GlobalTurnService do
  @moduledoc """
  API calls for all endpoints tagged `GlobalTurnService`.
  """

  alias SubspaceProductAPI.Connection
  import SubspaceProductAPI.RequestBuilder


  @doc """

  ## Parameters

  - connection (SubspaceProductAPI.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, SubspaceProductAPI.Model.V1GlobalTurnResponse.t} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec global_turn_service_get_global_turn(Tesla.Env.client, keyword()) :: {:ok, SubspaceProductAPI.Model.V1GlobalTurnResponse.t} | {:ok, Map.t} | {:error, Tesla.Env.t}
  def global_turn_service_get_global_turn(connection, _opts \\ []) do
    %{}
    |> method(:post)
    |> url("/v1/globalturn")
    |> ensure_body()
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %SubspaceProductAPI.Model.V1GlobalTurnResponse{}},
      { 400, false},
      { 401, false},
      { 402, false},
      { 403, false},
      { 404, false},
      { 429, false},
      { :default, false}
    ])
  end
end
